$rootContainer: ".movies";

.movies {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px 20px;
    @include media("<=991px") {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
  &__item {
    position: relative;
    text-align: left;
  }
  &__item-img-wrapper {
    display: block;
    margin-bottom: 16px;
    border-radius: 16px;
    overflow: hidden;
  }
  &__item-img {
  }
  &__item-badge {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__item-media-type {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #72768e;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__item-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
  }
}
